<div class="login-wrapper">
    <h1>Login</h1>
    <form [formGroup]="form" class="custom-form">
        <div class="row">
            <app-common-input
                [label]="'Email'"
                [type]="commonInputType.email"
                [formControlToFill]="form.get('email')">
            </app-common-input>
        </div>
        <div class="row">
            <app-common-input
                [label]="'Pasword'"
                [type]="commonInputType.password"
                [formControlToFill]="form.get('password')">
            </app-common-input>
        </div>
        <div class="row login-btn">
            <button mat-flat-button type="button" (click)="login()">Login</button>
        </div>

        <div class="row register-link">
            <a routerLink="/register">Don't have an account?</a>
        </div>
    </form>
</div>