<div class="card-whole">
    <a class="card" routerLink="/albums/{{album.id}}" #card (mouseenter)="applyBackground()" (mouseleave)="removeBackground()">
        <div class="cover">
            <img crossorigin="anonymous" src="{{album.cover}}" #image/>
        </div>
        <div class="content">
            <div class="title">
                {{album.name}}
            </div>
            <div class="desc">
                {{album.tracks_count}} 
                @if (album.tracks_count == 1) {
                    track
                } @else {
                    tracks
                }
            </div>
        </div>
    </a> 

    @if(album.tracks_count) {
        <app-play-all-button 
            [apiService]="apiService"
            [id]="album.id" 
            (onPlay)="playAll($event)">
        </app-play-all-button>
    }
</div>

<canvas #myCanvas hidden></canvas>
<div #preview></div>