<app-small-header [title]="genre.name" [image]="genre.cover"/>
<div class="genre-header" [style.background]="linearGradientBackground">
    <div class="hex" [style.background-color]="genre.hex_color"></div>
    <div class="title">
        <h1>{{genre.name}}</h1>
    </div>
    <div class="background-color-header" [style.background-color]="genre.hex_color"></div>
</div>
<div class="playlist-wrapper">
    @for (playlist of genre.playlists; track $index) {
        @defer (on viewport) {
            <app-playlist-card [playlist]="playlist" class="card"></app-playlist-card>
        } @placeholder {
            <app-placeholder-card></app-placeholder-card>
        }
    }
</div>