@import '../../../../shared/global-styles/colors';

.playlist-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .header {
        width: inherit;
        height: 230px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 1;
        .cover {
            z-index: 1;
            height: inherit;
            img {
                width: 230px;
                height: auto;
            }
        }
        .info-main {
            z-index: 1;
            .title {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h2 {

                }
                .desc {

                }
            }
        }
    }
}

