<div class="common-input-wrapper">
    <mat-form-field appearance="outline">
        @if (label) {
            <mat-label>{{label}}</mat-label>
        }
        <input [formControl]="formControlToFill" matInput [type]="type" [autocomplete]="autocomplete" [placeholder]="placeholder ?? '' " (keyup.Enter)="onKeyEnter($event)"/>

        @if (iconPrefix) {
            <mat-icon matIconPrefix>{{iconPrefix}}</mat-icon>
        }

        @if (iconSuffix) {
            <mat-icon matIconPrefix>{{iconSuffix}}</mat-icon>
        }

        @if (showError) {
            <mat-error>
                @if (formControlToFill.hasError('required')) {
                    {{label}} is required
                }

                @if (formControlToFill.hasError('minlength')) {
                    Minimum length is {{formControlToFill.errors.minlength.requiredLength}} characters
                }

                @if (formControlToFill.hasError('maxlength')) {
                    Maximum length is {{formControlToFill.errors.maxlength.requiredLength}} characters
                }

                @if (formControlToFill.hasError('email')) {
                    {{label}} is not valid
                }

                @if (formControlToFill.hasError('confirm')) {
                    Passwords must match
                }
            </mat-error>    
        }
    </mat-form-field>
</div>