<mat-form-field appearance="outline" class="custom-select">
    <mat-label>{{label}}</mat-label>
    <mat-select [formControl]="formControlToFill" (selectionChange)="onSelectionChange($event)" [multiple]="mulitple">

        @if(optionsCame) {
            @if(showDefaultValue) {
                @if(!mulitple) {
                    <mat-option [value]="null">Choose...</mat-option>
                } @else {
                    <mat-option [value]="'select-all'" (onSelectionChange)="onSelectAll($event)">Select all</mat-option>
                }
            }
            @for (option of options; track $index) {
                <mat-option [value]="option.id" [disabled]="disabledOptionIds.includes(option.id)">{{option.title}}</mat-option>
            }
        } @else if(optionsCame && !areOptionsEmpty) {
            <mat-option [value]="''">
                Loading...
            </mat-option>
        }
        
    </mat-select>
    @if (!optionsCame && !areOptionsEmpty) {
        <div class="loader">
            <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>    
        </div>
    } @else if(areOptionsEmpty) {
        <div class="loader">
            0 options
        </div>
    }
</mat-form-field>