<div class="album-small-item-row-wrapper" routerLinkActive="selected-album">
    <div class="content">
        <div class="image">
            <img src="{{album.cover}}"/>

            <div class="toggle-play">

                @if(album.tracks_count) {
                    <app-play-all-button 
                        [customClass]="'small-item-row-play-btn'"
                        [apiService]="albumsService"
                        [id]="album.id">
                    </app-play-all-button>
                }
               
            </div>
        </div>

        <div class="main">
            <a class="title" routerLink="/albums/{{album.id}}">
                {{album.name}}
            </a>

            <div class="desc">
                <p>{{album.tracks_count}} tracks</p>
            </div>
        </div>
    </div>
</div>