<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        mode="side" 
        [opened]="true"
        [fixedInViewport]="true"
        [fixedTopGap]="70"
        [fixedBottomGap]="70">
        <app-left-sidebar></app-left-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">

        <app-search-nav class="search-nav"></app-search-nav>
        
        <div class="main-content wrapper" id="content-wrapper">
                <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>