@import '../../shared/global-styles/colors';

.sidenav-container {
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-content {
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 500px;
    margin-left: 300px;

    .search-nav {
        position: relative;
        z-index: 2222222222222222;
    }
    overflow-y: auto;
}

.main-content {
    padding: 20px;
    background: $main-content-background;
    min-height: calc(100% - 120px);
}