<div class="playlist-small-item-row-wrapper" routerLinkActive="selected-playlist">
    <div class="content">
        <div class="image">
            <img src="{{playlist.image_url}}"/>

            <div class="toggle-play">
                @if(playlist.tracks_count) {
                    <app-play-all-button 
                        [customClass]="'small-item-row-play-btn'"
                        [apiService]="playlistsService"
                        [id]="playlist.id">
                    </app-play-all-button>
                }
            </div>
        </div>

        <div class="main">
            <a class="title" routerLink="/playlists/{{playlist.id}}">
                {{playlist.title}}
            </a>

            <div class="desc">
                <p>{{playlist.tracks_count}} tracks</p>
            </div>
        </div>
    </div>
</div>