<div class="playlist-small-item-row-wrapper custom-playlist-id" routerLinkActive="selected-playlist" (contextmenu)="openMenu($event)" [id]="playlist.id">
    <div class="content">
        <div class="image">
            <img src="{{playlist.image_url ? playlist.image_url : '/images/empty-playlist.png'}}"/>

            <div class="toggle-play">
                @if(playlist.tracks_count > 0) {
                    <app-play-all-button 
                        [customClass]="'small-item-row-play-btn'"
                        [apiService]="playlistsService"
                        [id]="playlist.id">
                    </app-play-all-button>
                }
            </div>
        </div>

        <div class="main">
            <a class="title" routerLink="/playlists/{{playlist.id}}">
                {{playlist.title}}
            </a>

            <div class="desc">
                <p>{{playlist.tracks_count}} tracks</p>
            </div>
        </div>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit()">
            <mat-icon>edit</mat-icon>
            Edit
        </button>

        <button mat-menu-item (click)="delete()">
            <mat-icon>delete</mat-icon>
            Delete
        </button>
    </mat-menu>

    <div #trigger="matMenuTrigger"
        style="position: fixed"
        [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y"
        [matMenuTriggerFor]="menu">
    </div>

</div>