@import '../../global-styles/colors';

.even {
}
.first {
    padding-left: 12px;
}

.below-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 70px;
    .group-operations {
        width: 175px;
    }
}
.pagination-button-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
    .pagination-button {
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        color: $text-color-light;
        background-color: $hover;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
        &:disabled {
            background-color: $gray;
            cursor: auto;
        }
    }

    .current-page {
        background-color: $main-color;
        color: $background-color;
    }
}

.showing {
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        font-size: 13px;
        color: $text-color-light;
    }
}