<div class="center">
    @for (link of mainNavigationLinks; track $index) {
        <app-navigation-link-item
            class="nav-link-item"
            [title]="link.title"
            [routePath]="link.routePath"
            [icon]="link.icon">
        </app-navigation-link-item>
    }
    <mat-divider class="divider"></mat-divider>
    
    @if (!userService.loggedIn()) {
        @for (link of authNavigationLinks; track $index) {
            <app-navigation-link-item
                class="nav-link-item"
                [title]="link.title"
                [routePath]="link.routePath"
                [icon]="link.icon">
            </app-navigation-link-item>
        }
    }
    
    @if (userService.loggedIn()) {
        <div class="mat-tab-group-wrapper">
            <mat-tab-group class="custom-user-tab-group-sidebar">
                <mat-tab label="Playlists">
                    <ng-template matTabContent>
                        @for(playlist of userPlaylistsService.playlists(); track $index) {
                            <app-playlist-small-row-item [playlist]="playlist"></app-playlist-small-row-item>
                        }
                      </ng-template>
                </mat-tab>
                <mat-tab label="Albums"> Content 2 </mat-tab>
                <mat-tab label="Followings"> Content 3 </mat-tab>
            </mat-tab-group>
        </div>
        <!-- @for (link of userNavigationLinks; track $index) { -->
            <!-- <app-navigation-link-item
                [title]="link.title"
                [routePath]="link.routePath"
                [icon]="link.icon"
                [action]="link.action">
            </app-navigation-link-item> -->
        <!-- } -->
    }
</div>