<div class="navigation-link-item-wrapper">
    <a class="navigation-link-item" [routerLink]="routePath" routerLinkActive #link="routerLinkActive">
        <div class="icon">
            <mat-icon>{{icon}}</mat-icon>
            
        </div>
    
        <div class="title">
            {{title}} 
            <div class="action">
                @if (action) {
                    @switch (action.id) {
                        @case (enumActions.Create) {
                            <button mat-icon-button (click)="create($event, action.dialogConfig)" [matTooltip]="enumActions.Create" matTooltipPosition="above">
                                <mat-icon>add</mat-icon>
                            </button>
                        }
                    }
                }
            </div>
            <div class="desc" [matTooltip]="tooltip" matTooltipPosition="right">
                @switch (title) {
                    @case ("Liked songs") {
                        {{likedTracksService.likedTracks().length}}
                    }
                    @case ("My library") {
                        {{userPlaylistsService.playlists().length}}
                    }
                }
            </div>
        </div>
    </a>
</div>