<div class="button mat-elevation-z7 play-button" #togglePlayButton [ngClass]="{'show-play-all': playingFromService.playingFrom() && playingFromService.playingFrom() === id ? 1 : 0}">
    @if(audioService.isPlaying() && playingFromService.playingFrom() === id) {
        <button (click)="pause($event)" mat-icon-button matTooltip="Pause" matTooltipPosition="above">
            <mat-icon>pause</mat-icon>
        </button>
    } @else {
        @if(!audioService.isPlaying() && playingFromService.playingFrom() === id) { 
            @if(audioService.trackIsLoading()) {
                    <mat-progress-spinner [strokeWidth]="5" mode="indeterminate" [diameter]="50"></mat-progress-spinner>
            } @else {
                <button (click)="continue($event)" mat-icon-button matTooltip="Continue" matTooltipPosition="above">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            }
        } @else {
            <button (click)="play($event)" mat-icon-button matTooltip="Play" matTooltipPosition="above">
                <mat-icon>play_arrow</mat-icon>
            </button>
        }
    }
</div>