<div class="table-row">
    <div class="inner">
        <div class="index-play loading-shine">
        </div>

        <div class="title-artists">
            <p class="title loading-shine"></p>
            <div class="artists loading-shine"></div>
        </div>

        <div class="album loading-shine">
           
        </div>

        <div class="favorite loading-shine">
           
        </div>

        <div class="duration loading-shine">
        </div>

        <div class="options-menu loading-shine"></div>
        </div>
</div>