<div mat-dialog-title>
    <h3>{{data.header}}</h3>
</div>

<div mat-dialog-content>
    <p>{{data.message}}</p>
</div>

<div mat-dialog-actions>
    @for (action of data.actions; track $index) {

        @if (action === confirmDialogActions.addAnyway) {
            <button class="secondary-btn" mat-flat-button (click)="addAnyway()">{{action}}</button>
        }
        @if (action === confirmDialogActions.confirm) {
            <button mat-flat-button (click)="confirm()">{{action}}</button>
        }

        @if(action === confirmDialogActions.addAll) {
            <button mat-flat-button (click)="addAll()">{{action}}</button>
        }

        @if(action === confirmDialogActions.addNewOnes) {
            <button mat-flat-button (click)="addNewOnes()">{{action}}</button>
        }
    }

    <button class="warning-btn" mat-flat-button (click)="close()">{{confirmDialogActions.cancel}}</button>
</div>