$primary: #9f1f1f;
$secondary: #0b0b0b;
$text-color-main: #ffffff;
$white: #ffffff;
$text-color-light: #cdcdcd;
$background-color: #101010;
$gray: #2a2a2a;
$main-content-background: #0b0b0b;
$hover: #181818;