$primary: #9f1f1f;
$secondary: #0b0b0b;
$text-color-main: #ffffff;
$white: #ffffff;
$text-color-light: #a0a0a0;
$background-color: #010c01;
$gray: #2a2a2a;
$main-content-background: #070707;
$card-background: #23232375;
$hover: #181818;
$main-color: #00e472;