<div class="card-whole">
    <a class="card" routerLink="/playlists/{{playlist.id}}" #card (mouseenter)="applyBackground()" (mouseleave)="removeBackground()">
        <div class="cover">
            <img crossorigin="anonymous" src="{{playlist.image_url}}" #image/>
        </div>
        <div class="content">
            <div class="title">
                {{playlist.title}}
            </div>
            <div class="desc">
                <p>{{playlist.description}}</p>
                <p>{{playlist.tracks_count | number}} tracks</p>
            </div>
        </div>
    </a>

    @if(playlist.tracks_count) {
        <app-play-all-button 
            [apiService]="apiService"
            [id]="playlist.id" 
            (onPlay)="playAll($event)">
        </app-play-all-button>    
    }
    </div>
<canvas #myCanvas hidden></canvas>
<div #preview></div>
