<div mat-dialog-title>
    <div class="dialog-title">
        <h3>
            @if (isEdit) {
                {{enumActions.Edit}}
            } @else {
                {{enumActions.Create}}
            }
            Track
        </h3>
    
        <button mat-mini-fab (click)="close()" matTooltip="Close" matTooltipPosition="above">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div mat-dialog-content>
    <form [formGroup]="form" class="track-form">

    @if (isLoading) {
        <div class="loading">
            <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>Loading...
        </div>
    } @else {
        <div class="row">

            <div class="image">
                <img src="{{form.get('imagePath')?.value ? form.get('imagePath')?.value : '/images/empty-playlist.png'}}"/>
                <div class="change-image">
                    <button class="change-image-btn" (click)="imageUpload.click()" mat-mini-fab matTooltip="Change image" matTooltipPosition="above">
                        <mat-icon>edit</mat-icon>
                    </button>
                    
                    <input formControlName="imageChange" type="file" accept="image/jpg,image/png" hidden #imageUpload (change)="onImageChange($event)"/>
                </div>
            </div>
            <div class="col">
                <app-common-input
                    [formControlToFill]="form.get('title')"
                    [showError]="false"
                    [label]="'Title'">
                </app-common-input>

                <app-common-select
                    [formControlToFill]="form.get('ownerId')"
                    [options]="dropdownData.artists"
                    [label]="'Owner'"
                    [disabledOptionIds]="disabledOwners"
                    (onSelect)="onOwnerChange($event)">
                </app-common-select>

                <app-common-select
                    [formControlToFill]="form.get('features')"
                    [options]="dropdownData.artists"
                    [mulitple]="true"
                    [disabledOptionIds]="disabledFeatures"
                    (onSelect)="onFeatureChange($event)"
                    [label]="'Features'">
                </app-common-select>
            </div>
        
        </div>
    
        <app-common-select
            [formControlToFill]="form.get('albumId')"
            [options]="dropdownData.albums"
            [label]="'Album'">
        </app-common-select>

        <app-common-select
            [formControlToFill]="form.get('genreId')"
            [options]="dropdownData.genres"
            [label]="'Genre'">
        </app-common-select>

        <app-common-radio-checkbox
            [formControlToFill]="form.get('explicit')"
            [label]="'Is explicit?'">
        </app-common-radio-checkbox>
        
        <audio [src]="form.get('path')?.value" controls style="width: 100%">
        </audio>  
    }  
</form>
        
</div>

<div mat-dialog-actions>
    <button mat-flat-button [disabled]="form.invalid || (isTrackingChanges && !formChanged)" (click)="confirm()">{{confirmDialogActions.confirm}}</button>
    <button class="warning-btn" mat-flat-button (click)="close()">{{confirmDialogActions.cancel}}</button>
</div>