<div class="queue-wrapper" #queueWrapper [@slideInOut]="queueService.showQueue() ? 'in' : 'out'">
    <div class="background-gradient-queue" #back></div>
    
        <div class="content">
            <div class="header">
                <h1>Queue</h1>
        
                <button mat-mini-fab (click)="close()" matTooltip="Close queue">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        
            <div class="main-content">
                    <div class="left">
                        <div class="track-info">
                            <div class="cover">
                                <img crossorigin="anonymous" src="{{track?.cover}}" #image/>
                            </div>
        
                            <div class="info">
                                <div class="title">
                                    <p>{{track?.title}}</p>
                                </div>
        
                                <div class="artists">
                                    <div class="owner">
                                        <a routerLink="/artists/{{track?.owner_id}}" (click)="close()">{{track?.owner?.name}}</a>
                                    </div>
                    
                                    <div class="features">
                                        @for (feature of track?.features; track $index; let index = $index) {
                                            @if (index !== 0) {,&nbsp;} @else {&nbsp;x&nbsp;} <a routerLink="/artists/{{feature.id}}" (click)="close()">{{feature.name}}</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                <div class="right">
                    <div class="tracks" #tracks cdkDropList cdkDragLockAxis="y" (cdkDropListDropped)="drop($event)">
                        @for(track of queueService._queue(); track $index; let index = $index) {
                            <div class="example-box" cdkDrag>
                                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                <app-queue-track-item [track]="track" [index]="index" (closeQueue)="close()" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
</div>

<canvas #myCanvas hidden></canvas>
<div #preview></div>
