@import '../../../shared/global-styles/colors';



.queue-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background: $background-color;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    transition: .2s ease-in-out;

    .background-gradient-queue {
        position: absolute;
        top: -20px;
        right: -20px;
        left: -20px;
        background: linear-gradient(
          to top,
          #070707 0%,
          rgba(0, 0, 0, 0.7882352941) 40%,
          rgba(0, 0, 0, 0.221) 100%);
        z-index: -150;
        bottom: 0;
        
    }

    .content {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items:stretch;
        gap: 20px;
        height: 100%;
        .header{ 
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            justify-content: space-between;
            width: 100%;
        }

        .main-content {
            display: flex;
            flex-direction: row;
            gap: 75px;
            align-items: center;
            height: 100%;

            .left {
                .track-info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .cover {
                        width: 400px;
                        img {
                            width: 100%;
                        }
                    }

                    .info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        .title {
                            p {
                                color: $text-color-main !important;
                            }
                        }

                        .artists {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            color: $text-color-light;
                            a {
                                color: $text-color-light;
                            }
                        }
                    }
                }
            }
            

            .right {
                flex-grow: 1;
                height: calc(100% - 85px);
                .tracks {
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;
                }
            }
        }
    }
}

.queue-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background: linear-gradient(to bottom, #898989, #000);
    z-index: -200;
}

.example-box {
    cursor: move;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #000;
    p {
        color: $text-color-main !important;
    }

  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .tracks.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: transparent;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 4px;

  }