<div class="admin-dashboard">
    <div class="cards">
        <app-admin-dashboard-card [icon]="'people'" [data]="dashboardData()?.user_count" [title]="'Number of Users'"></app-admin-dashboard-card>
        <app-admin-dashboard-card [icon]="'face'" [data]="dashboardData()?.artist_count" [title]="'Number of Artists'"></app-admin-dashboard-card>
        <app-admin-dashboard-card [icon]="'album'" [data]="dashboardData()?.album_count" [title]="'Number of albums'"></app-admin-dashboard-card>

        <app-admin-dashboard-card [icon]="'music_note'" [data]="dashboardData()?.track_count" [title]="'Number of Tracks'"></app-admin-dashboard-card>
        <app-admin-dashboard-card [icon]="'speaker_group'" [data]="dashboardData()?.genre_count" [title]="'Number of Genres'"></app-admin-dashboard-card>

        <app-admin-dashboard-card [icon]="'favorite'" [data]="dashboardData()?.liked_per_user" [title]="'Likes per user'"></app-admin-dashboard-card>
        <app-admin-dashboard-card [icon]="'library_music'" [data]="dashboardData()?.playlist_count" [title]="'Number of playlists'"></app-admin-dashboard-card>



    </div>
</div>