<mat-toolbar class="search-toolbar">
    <div class="search-input-wrapper">
        <app-common-input
            [type]="commonInputType.search"
            [placeholder]="'What do you want to listen?'"
            [iconPrefix]="'search'"
            [formControlToFill]="form.get('search')"
            (KeyEnter)="onKeyEnter($event)">
        </app-common-input>
    </div>

    @if (userService.loggedIn()) {
        <div class="user">
            <button mat-mini-fab matBadge="1">
                <mat-icon>notifications</mat-icon>
            </button>

            <button mat-mini-fab [mat-menu-trigger-for]="menu" color="accent">
                <mat-icon>menu</mat-icon>
            </button>

            <mat-menu #menu>
                @for (link of userMenuNavigationLinks; track $index; let last = $last) {
                    @if (last) {
                        <mat-divider/>
                    }
                    <button mat-menu-item [routerLink]="link.routePath ? link.routePath: null" (click)="link.method ? link.method() : null">
                        <mat-icon>{{link.icon}}</mat-icon>
                        <span>{{link.title}}</span>
                    </button>
                }
            </mat-menu>
        </div>
    }
    
</mat-toolbar>