.tracks-table-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 600px;
}

.track-drag-preview {
    background-color: #646464;
    color: #cecece;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 5px;
}