.genre-card {
    min-width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    gap: 20px;
    background-color: #101010;
    color: #e4e4e4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    .hex-color {
        width: 10px;
        height: inherit;
        transition: .1s ease-in-out;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .content {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .title {
            width: fit-content;
        }
        .details {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #616161;
            gap: 5px;
            padding-right: 10px;
            font-size: 10px !important;
            .mat-icon {

            }
        }
    }
    &:hover {
        .hex-color {
            width: 15px;
        }
    }
}